* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: #75a9fb;
}

.wrapper {
  max-width: 405px;
  margin: 135px auto;
  background-color: white;
  border-radius: 7px;
  padding: 28px 0;
}

.task-input {
  height: 52px;
  padding: 0 25px;
}

.task-input input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #999;
  padding: 0 20px 0 30px;
}

.task-input input::placeholder {
  color: #bfbfbf;
}

.badge {
  display: flex;
  align-items: center;
  padding: 18px 25px 0px;
  justify-content: space-between;
}

.choice span {
  margin: 0 5px;
  cursor: pointer;
  font-size: 12px;
  padding: 5px;
  color: white;
  border-radius: 5px;
}

.choice #normal {
  background-color: #fbbc75;
}

.choice #important {
  background-color: #ff8d64;
}

.choice #very-important {
  background-color: #f94040;
}

.choice span.active {
  border: 3px solid #292815;
}

.input .clear-btn {
  outline: none;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 7px 13px;
  background-color: #75a9fb;
  cursor: pointer;
}

.controls,
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  display: flex;
  align-items: center;
  padding: 18px 25px;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.filters span {
  margin: 0 8px;
  cursor: pointer;
  font-size: 17px;
}

.filters span.active {
  color: #75a9fb;
}

.controls .clear-btn {
  outline: none;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 7px 13px;
  background-color: #75a9fb;
  cursor: pointer;
}

.task-box {
  margin: 20px 25px;
}

.task-box .task {
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}

.task-box .task:last-child {
  margin: 0;
  padding: 0;
  border-bottom: 0;
}

.task label {
  display: flex;
}

.task label p.checked {
  text-decoration: line-through;
}

.task label input {
  margin-top: 6px;
  margin-right: 12px;
}

.task .setting {
  cursor: pointer;
  position: relative;
}

.setting .task-menu {
  background-color: #fff;
  position: absolute;
  right: -5px;
  bottom: -65px;
  transform: scale(0);
  padding: 5px 0;
  z-index: 2;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

.setting .task-menu.show {
  transform: scale(1);
}

.task-menu li {
  width: 70px;
  height: 25px;
  font-size: 14px;
  padding: 17px 15px;
  margin-bottom: 2px;
  justify-content: flex-start;
}

.task-menu li:last-child {
  margin-bottom: 0;
}

.task-menu li:hover {
  background-color: #f5f5f5;
}

.task-menu li i {
  padding-right: 8px;
}
